{:deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         org.clojure/tools.namespace {:mvn/version "1.0.0"}
         mount {:mvn/version "0.1.16"}
         aero {:mvn/version "1.1.6"}
         http-kit/http-kit {:mvn/version "2.3.0"}
         metosin/reitit-ring {:mvn/version "0.5.2"}
         metosin/reitit-middleware {:mvn/version "0.5.2"}
         ring/ring-core {:mvn/version "1.8.1"}
         ring/ring-headers {:mvn/version "0.3.0"}
         ring/ring-anti-forgery {:mvn/version "1.3.0"}
         seancorfield/next.jdbc {:mvn/version "1.0.462"}
         org.postgresql/postgresql {:mvn/version "42.2.10"}
         com.zaxxer/HikariCP {:mvn/version "3.4.5"}
         hiccup {:mvn/version "2.0.0-alpha2"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]}
           :uberjar {:extra-deps {uberdeps {:mvn/version "0.1.10"}}
                     :main-opts ["-m" "uberdeps.uberjar" "--target target/clj-shorty.jar"]}}}
